
.body
{
    position: center;
}

.uber-header
{

}

/*.bbcImage*/
/*{*/
/*    float: left;*/
/*}*/

.nav
{
    float: right;
    margin: .5em;
    padding-right: 150px;
}

.nav-item
{
    display: inline-block;
    margin: 8px;
    font-size: 14px;
    font-family: Arial, Ubuntu, sans-serif;
}

.four04header
{

}
