
.bbcImage
{
    padding-left: 130px;
    margin: 1px;
    position: relative;
    width: 7%;

}


.uber-header
{

}

.nav
{
    float: right;
    margin: .5em;
    padding-right: 150px;

}

.nav-item
{
    display: inline-block;
    margin: 8px;
    font-size: 13px;
    font-family: Arial, Ubuntu, sans-serif;
}

.nav-buttons
{
    margin-top: -15px;
}

.four04header
{
    background-color: rgb(56,46,177);
    color: #FFFFFF;
    padding-left: 130px;
    height: 70px;
    position: relative;
    top: 1em;
}

.body
{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 90px;
}

.sorry
{
    font-size: 24px;
    width: 100%;
}

.checkSearch
{
    width: 100%;
}

.search
{

}

.footer
{
    text-align: center;
    /*padding-top: 10em;*/
    background-color: rgb(59, 59, 59);
    color: #FFFFFF;

}
